html {
  position: relative;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  font-weight: 400;
  font-size: 14px;
}

* {
  font-family: "Inter", sans-serif;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 80px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  min-height: 100vh;
}

header {
  border-bottom: 1px solid #eaeaea;

  h3,
  p {
    margin: 0;
    padding: 0;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9d9d9d;
  }

  ul {
    span {
      font-weight: 600;
      color: #5c5c5c;
    }
  }
}

.content {
  padding-inline: 60px;
}

.content__header {
  margin: 40px 0;
  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  input {
    border: none;
    color: #c4c4c4;
    opacity: 0.5;
  }
  .searchBlock {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    min-width: 250px;
    min-height: 44px;
  }
}
