html {
  position: relative;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  font-weight: 400;
  font-size: 14px;
}

* {
  font-family: "Inter", sans-serif;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 80px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  min-height: 100vh;
}

header {
  border-bottom: 1px solid #eaeaea;

  h3,
  p {
    margin: 0;
    padding: 0;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9d9d9d;
  }

  ul {
    span {
      font-weight: 600;
      color: #5c5c5c;
    }
  }
}

.content {
  padding-inline: 60px;

  .contentHeader {
    margin: 40px 0;
    h1 {
      display: flex;
      align-items: center;
      margin: 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;

      button {
        margin-right: 20px;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.4s;

        img {
          transition: 0.3s;
        }

        &:hover {
          border-color: #c8c8c8;
          img {
            transform: translateX(-3px);
          }
        }
      }
    }
    input {
      border: none;
    }
    .searchBlock {
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      min-width: 250px;
      min-height: 44px;
      position: relative;

      .removeBtn {
        position: absolute;
        right: 0;
        width: 18px;
        cursor: pointer;
      }
    }
  }
}
